name: Deploy Gitea

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, windows]


    steps:
      - uses: actions/checkout@v4

      - name: Deploy using Docker Compose
        shell: powershell
        run: |
          "C:\Program Files\Docker\Docker\resources\bin\docker.exe" compose up -d
