name: Deploy Gitea (Swarm)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, windows, x64]

    steps:
      - uses: actions/checkout@v4

      - name: Deploy using Docker Swarm
        shell: powershell
        run: |
          & "C:\Program Files\Docker\Docker\resources\bin\docker.exe" stack deploy -c docker-compose.yml gitea
